<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Francirene"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Francirene.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.RoleSelectActivity" android:exported="false" />
        <activity android:name=".ui.AdminLoginActivity" android:exported="false" />
        <activity android:name=".ui.ParentLoginActivity" android:exported="false" />
        <activity android:name=".ui.StudentLoginActivity" android:exported="false" />
        <activity android:name=".ui.EnrollActivity" android:exported="false" />

        <activity android:name=".ui.AdminDashboardActivity" android:exported="false" />
        <activity android:name=".ui.AdminEnrollmentsActivity" android:exported="false" />
        <activity android:name=".ui.AdminResourcesActivity" android:exported="false" />
        <activity android:name=".ui.AdminTimetablesActivity" android:exported="false" />
        <activity android:name=".ui.AdminReviewsActivity" android:exported="false" />
        <activity android:name=".ui.AdminSettingsActivity" android:exported="false" />

        <activity android:name=".ui.ParentDashboardActivity" android:exported="false" />
        <activity android:name=".ui.StudentDashboardActivity" android:exported="false" />

    </application>
</manifest>
